<div
  class="relative bg-gradient-to-b from-indigo-500 to-purple-500 text-white h-screen transition-all duration-300"
  [class.w-56]="abierto" [class.w-16]="!abierto">

  <div class="flex items-center py-5 px-3 font-bold">

    <button
      (click)="toggle()"
      class="text-white hover:bg-white/20 rounded-lg p-2 transition flex-shrink-0">
      <i class="bi bi-list text-xl"></i>
    </button>

    <span *ngIf="abierto" class="text-lg text-white ml-2 truncate">DATAONE</span>

  </div>

  <!-- OPCIONES -->
  <ul class="mt-2 space-y-1 px-2">

    <li routerLink="/" class="flex items-center gap-3 px-3 py-3 hover:bg-white/20 rounded-lg cursor-pointer transition">
      <i class="bi bi-house text-lg flex-shrink-0"></i>
      <span *ngIf="abierto" class="text-sm font-semibold truncate">Inicio</span>
    </li>

    <li routerLink="/categorias" class="flex items-center gap-3 px-3 py-3 hover:bg-white/20 rounded-lg cursor-pointer transition">
      <i class="bi bi-tags text-lg flex-shrink-0"></i>
      <span *ngIf="abierto" class="text-sm font-semibold truncate">Categorías</span>
    </li>

    <li routerLink="/productos" class="flex items-center gap-3 px-3 py-3 hover:bg-white/20 rounded-lg cursor-pointer transition">
      <i class="bi bi-box-seam text-lg flex-shrink-0"></i>
      <span *ngIf="abierto" class="text-sm font-semibold truncate">Productos</span>
    </li>

  </ul>


  <!-- AUTORIA -->
  <div class="absolute bottom-0 left-0 w-full px-4 py-4">

    <p *ngIf="abierto" class="text-white/50 text-xs text-center">
      © Esmeralda Noemí García Borja
    </p>

    <p *ngIf="!abierto" class="text-white/50 text-xs text-center">
      ©
    </p>

  </div>

</div>